doctype html(lang='en')
head
    meta(charset='UTF-8')
    |     
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    |     
    meta(http-equiv='X-UA-Compatible' content='ie=edge')
    // <link rel="stylesheet" href="asserts/greet.css" />
    link(rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css' integrity='sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T' crossorigin='anonymous')
    |     
    script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js' integrity='sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM' crossorigin='anonymous')
    |     
    title Greetings
body.p-3.mb-2.bg-white.text-dark
    // this is the header section
    .container
        .row
            .col-12
                ul.nav.nav-tabs
                    li.nav-item
                        a.nav-link.active(href='/') Home
                    |                 
                    li.nav-item
                        a.nav-link(href='/greeted') Greeted
                    |                 
                    li.nav-item
                        a.nav-link(href='/counter') Counter
                    |                 
                    li.nav-item
                        a.nav-link(href='/counter/user') Users
                |           
                h3(style='padding-left: ')
                    | Greetings
                    small.text-muted With Express js
                |           
                .row
                    .col-6
                        form(action='/names' method='POST')
                            .form-label-group.usernameInput
                                input#inputEmail.form-control(type='email' placeholder='' required='' autofocus='')
                                |                   
                                label(for='inputEmail')
                                |                   
                                span.badge.badge-dark Enter
                                |                   
                                span.badge.badge-warning name
                                |                   
                                span.badge.badge-success to
                                |                   
                                span.badge.badge-danger Greet
                    |             
                    .col6
                        select.custom-select.custom-select-sm
                            option(selected='') Select Language
                            |                 
                            option(value='English') English
                            |                 
                            option(value='Zulu') Zulu
                            |                 
                            option(value='Affrikaans') Affrikaans
        |       
        .row(style='padding-top: 5%;padding-bottom: 5%')
            .col-6-sm
                button.btn.btn-outline-success(type='button')
                    | Greet Button
            |         
            .col-6-sm
                button.btn.btn-outline-danger(type='button')
                    | Reset Button
        |             
        |       
        .fixed-bottom
            // <div class="navbar navbar-default navbar-static-bottom navbar-fixed-bottom">
            .card.text-center
                h5.card-title Number of people greeted
                |                             
                p.card-text Counter:
                |                             
                p.card-text
                    small.text-muted Last updated 3 mins ago
            // </div>
    |             
    |     
    script(src='https://code.jquery.com/jquery-3.3.1.slim.min.js' integrity='sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo' crossorigin='anonymous')
    |     
    script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js' integrity='sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1' crossorigin='anonymous')
    |     
    //- script(src='js/greet.js' charset='utf-8')
    |     
    //- script(src='js/Dom/greeting-dom.js' charset='utf-8')
